*{
    margin: 0;
    font-family: serif;
    margin-left: 10%;
    margin-right: 10%;
    
}
.top {
    font-size: 14px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
.author {
	text-align: right;
	font-size: 20px;
}
.middle{
	margin-bottom: 8%;
}
.middle_text {
	font-size: 16px;
	text-indent: 40px;
	margin-bottom: 15px
}

.top_text {
    margin-bottom: 9px;
}

.h {
    font-size: 20px;
    font-style: normal;
    text-align: left;
    margin-bottom: 15px;
}
.middle_bottom{
	font-size: 16px;
	margin-bottom: 8%;
	text-indent: 40px;
}
em {
    padding: 0;
    margin: 0;
    margin-right: 4px;
}
strong {
    padding: 0;
    margin: 0;
    margin-right: 4px;
}
ins {
    padding: 0;
    margin: 0;
    margin-right: 4px;
}

.bottom {
	margin-bottom: 10%;
	font-size: 16px;
}

.greece {
    text-indent: 40px;
    margin-top: 20px;
}
.writer {
    font-size: 18;
    text-align: right;
    margin-top: 60;
}
.hydro {
    margin-bottom: 50px;
    margin-top: 70px;
    text-align: left;
}
.def {
    margin-bottom: 20px;
    margin-left:12.5%;
    text-indent: -20px;
}

.sub {
    margin: 0;
    vertical-align: sub;
}
.sup{
    	vertical-align: sup;
	margin: 0;
}