*{
    font-family: "Times New Roman" serif;
    margin: 0 10%;
}

.char{
    font-family: Webdings;
    padding: 0;
    margin: 0;
}

.top {
    font-size: 14px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.top_text {
    margin-bottom: 9px;
}


.author {
	text-align: right;
	font-size: 20px;
}
.middle{
	margin-bottom: 50px;
}
.middle_text {
	font-size: 16px;
	text-indent: 40px;
	margin-bottom: 15px
}

.h {
    font-size: 20px;
    font-style: normal;
    text-align: left;
    margin-bottom: 15px;
}

.bottom{
	font-size: 16px;
	margin-bottom: 8%;
	text-indent: 40px;
}

.bottom_text {
    margin-bottom: 20px;
    margin-left: 16%;
    text-indent: -40px;
}

.sup {
    margin: 0;
}

.underline {
    text-decoration: underline;
    font-style: italic;
    padding: 0;
    margin: 0 4px 0 0;   
}

.letter {
    padding: 0;
    margin: 0 4px 0 0;
    font-style: italic;
}

.bord {
    font-weight: bold;
    padding: 0;
    margin: 0 4px 0 0;
}
